/* .img {
  justify-content: center;
  display: flex;
} */

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
} */
.wrap {
  /* margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh; */
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
  position: relative;
}

.card {
  min-width: 500px;
  height: 450px;
  margin: 1px 10px;
  cursor: pointer;
  border: 1px solid white;
  overflow: hidden;
}
.card-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.song-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.song-title {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.wrap:hover .card-img {
  opacity: 0.3;
}

.card:hover .song-title {
  opacity: 1;
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* .img {
  justify-content: center;
  display: flex;
}

.song-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.song-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.2s, visibility 0.2s;
}

.song-container:hover .song-title {
  visibility: visible;
  opacity: 1;
} */
