/* .img {
  justify-content: center;
  display: flex;
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  /* display: block;
  width: 100%;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
  margin-top: 150px; */
  /* margin-left: 100px;
  margin-right: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* border: 2px solid grey; */
  padding-bottom: 180px;
}
.song-container {
  /* display: block;
  white-space: nowrap; */
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.song-container::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 150px;
  background-image: linear-gradient(90deg, white, transparent);
}

.song-container::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 150px;
  background-image: linear-gradient(-90deg, white, transparent);
}

.data-container {
  /* display: inline-block;
  margin-right: 10px; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.card {
  min-width: 250px;
  height: auto;
  margin: 1px 10px;
  cursor: pointer;
  /* border: 1px solid white; */
  overflow: hidden;
}
.card::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
}
.card img {
  width: 300px;
  height: 300px;
  position: relative;
  display: block;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.song-title {
  position: relative;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0, 0.6);
  font-family: "Quicksand", sans-serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
a {
  font-size: large;
}
.song-title a {
  position: absolute;
  bottom: 0;
  padding-bottom: 50%;
  color: whitesmoke;
  font-weight: 300;
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
}

.card:hover .song-title {
  visibility: visible;
  opacity: 1;
  /* background: black; */
}

.song-btn {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
/* .card {
  min-width: 500px;
  height: 450px;
  margin: 1px 10px;
  cursor: pointer;
  border: 1px solid white;
  overflow: hidden;
}
.card-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.song-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

 */

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .song-title {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.wrap:hover .card-img {
  opacity: 0.3;
}

.card:hover .song-title {
  opacity: 1;
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
} */
/* .img {
  justify-content: center;
  display: flex;
}

.song-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.song-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.2s, visibility 0.2s;
}

.song-container:hover .song-title {
  visibility: visible;
  opacity: 1;
} */
