/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
} */

.song-containerer {
  /* border: 1px solid black; */
  display: flex;
  /* flex-direction: column; */
  height: 500px;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 3px 2px 2px #999; */
}

/* .song-card {
  border: 3px solid;
} */
.song-containerer .song-img {
  /* position: relative; */
  width: 100%;
  height: 450px;
  justify-content: flex-start;
}
.song-containerer .song-img img {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-containerer audio {
  width: 100%;
  padding-top: -500px;
  height: 500%;
}

/* .song-info {
  display: flex;
  justify-content: center;
  align-items: center;
} */
