.home-img {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
}

.home-text {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.cloud {
    padding-top: 100px;
    display: flex;
    color: white;
    justify-content: center;
    padding-bottom: 75px;
    padding-left: 20px;
}
.music {
    padding-top: 75px;
    color: white;
    justify-content: center;
    padding-left: 20px;
    display: flex;
    /* display: ; */
}

.play-btn {
    padding: 20px;
}
