.home-img {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
}

/* .home-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home-text h3 {
  left: 50%;
  top: 90%;
  padding-left: 70px;
}

.home-text i {
  left: 50%;
  padding-left: 70px;
} */

/* .browse-text {
  padding-top: 5px;
  justify-content: center;
  display: flex;
} */

.home-text {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.cloud {
  padding-top: 100px;
  display: flex;
  color: white;
  justify-content: center;
  padding-bottom: 75px;
  padding-left: 20px;
}
.music {
  padding-top: 75px;
  color: white;
  justify-content: center;
  padding-left: 20px;
  display: flex;
  /* display: ; */
}

.play-btn {
  padding: 20px;
}
