.playlist-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18%;
    left: 35%;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.playlist-container {
    display: flex;
    justify-content: center;
    width: 500px;
}

.audio-player-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: none;
}

.song-list-item {
    display: flex;
}

.playlist-playBtn {
    cursor: pointer;
}
