.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: #206ca0; */
  background-color: transparent;

  height: 60px;
}

ul {
  list-style-type: none;
}

.logo > a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  color: white !important;
}

.nav-links > a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  margin: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.nav-links > a :hover {
  opacity: 3;
}

.nav-btn {
  color: white;
}
